<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Chat app</h1>

    <input type="text" id="message">
    <button id="sendButton">Send</button>
    <div id="messages">

    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
            const socket=io(); // conects to the backend server of this app
            const sendButton=document.getElementById('sendButton');
            const messageInput=document.getElementById('message');
            const allmessages=document.getElementById('messages');

            socket.on('message',(message)=>{
                const p=document.createElement('p');
                p.innerText=message;
                allmessages.appendChild(p);
            });

            sendButton.addEventListener('click',()=>{
                const message=messageInput.value;
                socket.emit('chat-message',message);
                messageInput.value='';
            });
    </script>
    
</body>
</html>